@import "variables";
@import "mixins";
@import "fonts";
@import "form";

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



html {
  font-size: 16px;
  min-height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: "IBM Plex Sans", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: $dark;
}

h1 {

}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter', sans-serif;}

h2 {
  font-weight: 500;
  font-size: rem(40px);
  font-family: 'Inter', sans-serif;
  color: $white;
}

h3 {

}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
  color: $white;
  font-size: rem(27px);
  transition: $link-transition;
}

a:hover {
  color: $accent;

}

p {

}

span {

}

.container {
  margin: 0 auto;
  width: 90%;
}

.icon {
  width: rem(24px);
}

// Scroll
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: $dark-gray;
  border-radius: 20px;
  border: 3px solid transparent;
}




