// Colors

$primary: #687ECE;
$secondary: #52576E;
$gray-blue: #5E668C;
$blue-light: #919ED9;
$turquoise: #329BB9;
$white: #DDE2F4;
$white-dark: #BDC2D9;
$dark: #161822;
$dark-purple: #242238;
$dark-gray: rgba(43,47,64, 0.7);
$gray: #84899A;
$gray-middle: #2B2F40;
$gray-deep: #6C728C;
$accent: #D9D57C;
$success: #558B2F;
$error: orangered;
$orange: #F0801A;
$green-middle: #748C5E;

// Other
$transition: 0.3s ease-in-out;
$border-radius: 10px;
$border-radius-small: 4px;
$link-transition: all 0.3s ease;
$padding: 1em;
