// Colors

$primary: #687ECE;
$secondary: #6C728C;
$white: #DDE2F4;
$dark: #161822;
$dark-purple: #242238;
$transparent-blue: rgba(43,47,64, 0.7);
$accent: #D9D57C;
$link-transition: all 0.3s ease;
$padding: 1em;

// Other
$transition: 0.3s ease-in-out;
$border-radius: 10px;
